<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>
<div class="container">
  <br />
  <h2>Categories</h2>
  <a
    name=""
    id=""
    class="btn btn-success"
    href="/admin/categories/new"
    role="button"
    >New</a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category =>{ %>
      <tr>
        <td scope="row"><%= category.id %></td>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <td>
          <a
            name=""
            id=""
            class="btn btn-warning"
            href="/admin/categories/edit/<%= category.id %>"
            role="button"
            >Edit</a
          >
          <form
            onsubmit="confirmDelete(event, this)"
            action="/categories/delete"
            method="post"
            style="display: inline"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    var decision = confirm("Do you want delete this category?");
    if (decision) {
      form.submit();
    }
  }
</script>
