<%- include ('partials/header.ejs') %> <%- include ('partials/homenavbar.ejs')
%>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome</h1>
        <hr />
        <% articles.forEach(article =>{ %>
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><%= article.title %></h2>
              <a href="/<%= article.slug %>" class="btn btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= article.createdAt %> by
              <a href="#">User</a>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <div class="list-group">
              <% categories.forEach(category=>{ %>
              <a href="/category/<%= category.slug %>" class="list-group-item"><%= category.title %></a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <hr />
    <div class="jumbotron">
      <h1 class="display-3">Welcome</h1>
      <p class="lead">This is a simple blog</p>
      <hr class="my-2" />
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button"
          >Read more</a
        >
      </p>
    </div>
    <% articles.forEach(article =>{ %>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a
          name=""
          id=""
          class="btn btn-success"
          href="/<%= article.slug %>"
          role="button"
          >Read</a
        >
      </div>
    </div>
    <br />

    <% }) %>
    <div class="row">
      <div class="col col-12">
        <a style="float: right" class="btn btn-primary" href="articles/page/2"
          >Next</a
        >
      </div>
      <hr />
    </div>
  </div> -->
</body>
<%- include ('partials/footer.ejs') %>
